.force-overflow {
   min-height: 450px;
}

/*
 *  STYLE 15
 */

#messages::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
   background-color: #f5f5f5;
   border-radius: 10px;
}

#messages::-webkit-scrollbar {
   width: 10px;
   background-color: #f5f5f5;
}

#messages::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: #fff;
   background-image: -webkit-gradient(
      linear,
      40% 0%,
      75% 84%,
      from(#4d9c41),
      to(#19911d),
      color-stop(0.6, #54de5d)
   );
}

/* position: absolute;
    right: 0;
    top: 0; */
